version: "3.8"

services:
  backend1:
    build: ./backend1
    ports:
      - "3001:3001"

  backend2:
    build: ./backend2
    ports:
      - "3002:3002"

  nginx:  
    image: nginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro  # load your config
    depends_on:
      - backend1
      - backend2
